<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li *ngFor="let item of list; let i = index">
      <a routerLink="/home/models/{{ item.id }}">
        {{ item.name }}
        <!-- {{ i }} -->
      </a>
    </li>

  </ul>
  <ul>
    <button type="button" (click)="onPageChange(pageIndex - 1)" [disabled]="pageIndex === 0">
      Prev
    </button>
    {{ pageIndex + 1 }}
    <button type="button" (click)="onPageChange(pageIndex + 1)" [disabled]="!hasPageNext">
      Next
    </button>

  </ul>
</div>




<!-- >= Angular 17 -->
<!-- @for (item of list; track $index) {
<p>{{ item.name }} {{ $index }}</p>
} -->