<h1>Rent A Car</h1>
<p>Find the best car for you!</p>

<app-brands-list (selectBrand)="onBrandSelect($event)"></app-brands-list>
<!-- $event : event'in verdiği veriyi almamızı sağlayan özel bir keyword. -->
<hr />

Search: <input type="text" [(ngModel)]="searchBrandName" />
<!-- FormsModule ile gelen ngModel benim için input ile state'i birbirine iki yönlü atama olacak şekilde bağlamama yardımcı oluyor -->
<app-models-list
  [brandId]="selectedBrandId"
  [searchBrandName]="searchBrandName"
></app-models-list>
