<!-- 
<ng-container  *appWelcome="2000">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</ng-container> -->


<app-navbar></app-navbar>

<div id = "spinner" class="container d-none">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
    </button>
</div>

<ng-content></ng-content>
<router-outlet></router-outlet>
<app-footer></app-footer>